AccessModifierOffset: -4

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseArrows: true
  AlignCaseColons: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Never

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: false

AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: false
BinPackParameters: OnePerLine

BitFieldColonSpacing: Before

BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakAdjacentStringLiterals: false
BreakAfterAttributes: Always
BreakAfterReturnType: ExceptShortType
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BreakBeforeTemplateCloser: true
BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: true
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
ColumnLimit: 100
CompactNamespaces: true
ConstructorInitializerIndentWidth: 0

IncludeBlocks: Merge

IndentWidth: 4
IndentPPDirectives: AfterHash

InsertBraces: true

IntegerLiteralSeparator:
  Binary: 8
  Decimal: 3
  Hex: 2

PackConstructorInitializers: NextLine

PPIndentWidth: 1

SeparateDefinitionBlocks: Always

SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: false
SortUsingDeclarations: LexicographicNumeric

Standard: Latest
