name: Compile Check

on:
  pull_request:
    branches:
      - main

jobs:
  compile:
    name: Check compile
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run make
        run: make
