name: Clang-Format Check

on:
  pull_request:
    branches:
      - main

jobs:
  clang-format:
    name: Check clang-format
    runs-on: ubuntu-latest
    
    container:
      image: debian:testing

    steps:
      uses: actions/checkout@v4

      - name: Install clang-format 22
        run: |
          apt-get update
          apt-get install -y clang-format

      - name: Run clang-format check
        run: |
          clang-format --version
          FILES=$(git ls-files '*.cxx' '*.hxx')

          if [ -z "$FILES" ]; then
            echo "no file to check."
            exit 0
          fi

          clang-format -i $FILES
          
          # If file change -> error
          if ! git diff --exit-code; then
            echo "::error::Format error."
            exit 1
          fi

          echo "Clang-format OK."
