name: Clang-Format Check

on:
  pull_request:
    branches:
      - main

jobs:
  clang-format:
    name: Check clang-format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4

       - name: Install clang-format 22
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg lsb-release software-properties-common

          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 22

          sudo apt-get install -y clang-format-22

          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-22 100

      - name: Run clang-format check
        run: |
          clang-format --version
          FILES=$(git ls-files '*.cxx' '*.hxx')

          if [ -z "$FILES" ]; then
            echo "no file to check."
            exit 0
          fi

          clang-format -i $FILES
          
          # If file change -> error
          if ! git diff --exit-code; then
            echo "::error::Format error."
            exit 1
          fi

          echo "Clang-format OK."
