name: Clang-Format Check

on:
  pull_request:
    branches:
      - main

jobs:
  clang-format:
    runs-on: ubuntu-latest

    steps:
      - name: Install clang-format 22 from LLVM repo
        run: |
          deb http://apt.llvm.org/focal/ llvm-toolchain-focal main
          deb-src http://apt.llvm.org/focal/ llvm-toolchain-focal main

          sudo apt update
          sudo apt install -y clang-format
          clang-format --version

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run clang-format check
        run: |
          FILES=$(git ls-files '*.cxx' '*.hxx' '*.txx')

          if [ -z "$FILES" ]; then
            echo "no file to check."
            exit 0
          fi

          clang-format -i $FILES

          # If file change -> error
          if ! git diff --exit-code; then
            echo "::error::Format error."
            exit 1
          fi

          echo "Clang-format OK."
